<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>
  <%- include('./partials/secNav'); %>
<main>
  <div class="jumbotron">
    <div class="picture-container"></div>

    <!--     modal  -->
    <div class="modal-container">
      <div class="cinema-modal"></div>
    </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>
<script src="/js/script.js"></script>
<script src="/js/secNav/secNav.js" type="module"></script>
</body>
</html>